<!DOCTYPE html>
  <html ng-app="trip-planner">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <link rel="stylesheet" href="/vendor/angular-datepicker.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Optional theme -->
      <link rel="stylesheet" href="/styles/styles.css">
      <!-- VENDOR SCRIPTS -->
      <script src="/vendor/angular.min.js"></script>
      <script src="/vendor/angular-datepicker.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


      <!-- APPLICATION SCRIPTS -->
      <script src="/scripts/app.js"></script>
      <title>TravelBug</title>
    </head>
    <body>
      <div class="header clearfix">
          <nav>
            <div class="nav-wrapper"> <!-- navbar -->
                <a href="#" class="brand-logo">Travelbug</a>
                  <ul id="nav-mobile" class="right">
                    {{#if user}}
                      <li><a href="#">{{user.name}}</a></li>
                      <li><a href="/users/logout">Logout</a></li>
                    {{else}}
                      <li><a href="/users/login">Login</a></li>
                      <li><a href="/users/register">Sign up</a></li>
                    {{/if}}
                  </ul>
            </div>
        </nav>
      </div><!-- end of navbar -->

      <div class="row">
        <div class="col-lg-12">
          {{{body}}}
        </div>
    </div>
<!-- Footer -->
    <footer class="footer row-spacer text-style">
      <p><b>&copy; 2017 TravelBug Inc.</b></p>
    </footer>
  </body>
</html>
