<!DOCTYPE html>
<html lang="en" ng-app="trip-planner">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>trip-planner</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/angular-ui-router.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container" ng-controller="TripsIndexController as tripsIndexCtrl">
        <h1>Welcome to trip planner</h1>
        <p>Your travel companion!!</p>
        <form action="/api/trips" method="post" ng-submit="tripsIndexCtrl.createTrip()">
          <input type="text" class="form-control" placeholder="New trip name" ng-model="tripsIndexCtrl.newTrip.name">
          <input type="text" class="form-control" placeholder="From date" ng-model="tripsIndexCtrl.newTrip.start_dt">
          <input type="text" class="form-control" placeholder="To date" ng-model="tripsIndexCtrl.newTrip.end_dt">
          <input type="text" class="form-control" placeholder="image as a string" ng-model="tripsIndexCtrl.newTrip.image">
          <input type="text" class="form-control" placeholder="Must visit" ng-model="tripsIndexCtrl.newTrip.main_attr">
          <input type="submit" name="submit" value="Submit">
        </form>

        <p><b>{{tripsIndexCtrl.newTrip.name}}</b></p>
        <p>{{tripsIndexCtrl.newTrip.start_dt}} to {{tripsIndexCtrl.newTrip.end_dt}}</p>
        <img src="{{tripsIndexCtrl.newTrip.image}}">
        <p>Must See: {{tripsIndexCtrl.newTrip.main_attr}}

          <div ng-repeat="trip in tripsIndexCtrl.trips">
            <p><b>{{trip.name}}</b></p>
            <p>{{trip.start_dt}} to {{trip.end_dt}}</p>
            <img src="{{trip.image}}">
            <p>Must See: {{trip.main_attr}}
              <button class='btn btn-danger' ng-click="tripsIndexCtrl.deleteTrip(trip)">Delete</button>
         </div>
      </div>
    </div>
  </body>

</html>
