<div class="parallax-container">
  <div class="parallax"><img src="../../images/trip.jpg"></div>
</div>

<div class="section white container">
  <div class="sign">
    <h4 class="page-header">Login</h4>
    <div class="grey-text text-darken-3 lighten-3">
      <form method="post" action="/users/login">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default orange darken-4">Login</button>
      </form>
      <p>Don't have an account? <a href="/users/register">Sign Up</a></p>
    </div>
  </div>
  </div>

<div class="parallax-container">
<div class="parallax"><img src="../../images/plan.jpg"></div>
</div>
