img {
  height:100px;
  width: 200px;
}
.nav-wrapper {
  background-color: #e65100;
  position: fixed;
  z-index: 1;
}
.card-image img {
  height: 300px;
}
.parallax img{
  display: unset;
}
.add {
  width: 50%;
  text-align: right;
  padding: 50px;
}
._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #e65100;
  }
  footer {
    text-align: center;
    margin-top: 10px;
  }
  .section {
    width: 30%;
    padding: 50px;
  }
